body {
     background-color: white;
}
 .boxClass {
     box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
     padding-top: 1px;
     padding-bottom: 15px;
    /*padding-left: 10px;
    */
}
 .sideColor {
     position: absolute;
     z-index: 99;
     background-color: #4680F0;
     padding-left: 10px;
     height: 164px;
}
 .texContainer {
     padding-left: 13px;
}
 .divider {
     padding-top: 10px;
}
 .alertBox {
     display: none;
}
 #alertText {
     font-size: 20px;
     padding-left: 2px;
     background-color: yellow;
     padding-top: 10px;
     padding-bottom: 10px;
}
 #removeTask {
     background-color: #F44336;
     color: white;
}
